{% extends 'taxi_posts/base.html' %}

{% block navbar_area %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav">
    <div class="container-fluid">
      <form class="form-inline ml-auto" role="search">
        <input class="form-control mr-sm-2" type="search" placeholder="검색" aria-label="검색">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
      </form>
    </div>
  </nav>
{% endblock %}

{% block main_area %}
<br><br>
<div class="container mt-4" id="container" {% if otts|length <= 7 %}style="padding-bottom: 90%;"{% endif %}>
  <h2 class="mb-4">OTT List</h2>
  {% if otts %}
    <ul class="list-group">
      {% for ott in otts %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a href="{% url 'ott_detail' ott.id %}" style="width: 100%; display: block;">
            [{{ ott.type }}] {{ ott.people }}명 모집
          </a>
        </li>
      {% endfor %}
    </ul>

    <!--페이지네이션-->
    <br><br>
    <nav aria-label="Page navigation example">
      <ul class="pagination d-flex justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
          <li class="page-item {% if page_obj.number == i %}active{% endif %}">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
          </li>
        {% endfor %}

        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>

  {% else %}
    <h3>아직 게시물이 없습니다.</h3>
  {% endif %}
  <a href="{% url 'ott_create' %}">
    <span class="material-symbols-outlined" id="plus">
      edit_square
    </span>
  </a>
</div>
{% endblock %}