{% extends 'taxi_posts/base.html' %}

{% block main_area %}
    <br><br>
    <div class="container mt-4" id="container">
      <h2>OTT 모집하기</h2><br>
      <form action="{% url 'ott_create' %}" method="post" class="form">
        {% csrf_token %}
        
        <table>
          <tr>
            <th><label for="{{ form.type.id_for_label }}">OTT 종류</label></th>
            <td>{{ form.type }}</td>
        </tr>
        <tr>
            <th><label for="{{ form.people.id_for_label }}">모집 인원</label></th>
            <td>{{ form.people }}</td>
        </tr>
        <tr>
            <th><label for="{{ form.bill.id_for_label }}" style="margin-right:10px;">1인당 결제 금액</label></th>
            <td>{{ form.bill }} 원</td>
        </tr>
          <tr>
            <th><label for="{{ form.description_OTT.id_for_label }}">상세 정보</label></th>
            <td>{{ form.description_OTT }}</td>
          </tr>
        </table>
        
        <button type="submit" class="btn btn-primary">글쓰기</button>
      </form>

      <a href="{% url 'ott_list' %}" class="btn btn-secondary mt-3">목록으로 돌아가기</a>
    </div>
    <style>
      button, input, optgroup, select, textarea {
        margin: 3px;
      }
    </style>
    <script>
      function updateBill() {
          var ottType = document.getElementById("id_type").value;
          var people = document.getElementById("id_people").value;
  
          var priceDict = {
              'Netflix': {1: 5500, 2: 9500, 3: 13500, 4: 17000},
              'Tving': {1: 9500, 2: 13500, 3: 17000, 4: 17000},
              'Disney+': {1: 9900, 2: 13900, 3: 13900, 4: 13900},
              'Wave': {1: 7900, 2: 10900, 3: 13900, 4: 13900},
              'Coupangplay': {1: 4990, 2: 4990, 3: 4990, 4: 4990}
          };
  
          var billField = document.getElementById("id_bill");
  
          if (ottType in priceDict && people in priceDict[ottType]) {
              var price = priceDict[ottType][people];
              var dividedPrice = Math.floor(price / (parseInt(people) + 1));
              billField.value = dividedPrice;  // 수정: innerHTML 대신 value를 사용
          } else {
              billField.value = "";
          }
      }
  
      // 이벤트 리스너 추가
      document.getElementById("id_type").addEventListener("change", updateBill);
      document.getElementById("id_people").addEventListener("change", updateBill);
  </script>
{% endblock %}