<footer id="footer">
    <a class="copyright">인터넷프로그래밍(01)_03조</a>
    <a class="people">개발자: 김희원, 노도경, 심수빈, 이채원, 조수아</a>
    <br>
    <a class="privacy">서울 도봉구 삼양로144길 33 덕성여자대학교 과학기술대학 컴퓨터공학전공</a>
    <hr>
    <a style="color: white;">&copy; Computer Language and Literature. All right reserved.</a>
</footer>

<style>
  footer {
    padding: 16px 0; width: 100%; box-sizing: border-box; font-size: 0; text-align: center;
  }
  footer > a {
    display: inline-block; margin: 0 4px 4px 4px; color: #737373; font-size: 12px; word-break: keep-all;
  }
  footer > a.copyright, footer > a.privacy, footer > a.people {
    font-weight: bold;
  }
  footer > span {
    display: inline-block; color: #a6a6a6; font-size: 12px;
  }
</style>
