{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light" id = "nav">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="{% static 'contest/image/favicon.png' %}" style="width:56px; height:24px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/contest/" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        공모전/프로젝트
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'prj_list' %}">팀원 모집</a>
                        <a class="dropdown-item" href="{% url 'contest_list' %}">추천 공모전</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'study_list' %}">스터디</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ride_list' %}">카풀</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ott_list' %}">OTT</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <div class="d-flex align-items-center">

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="/contest/" id="navbarDropdownMenuLink" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="material-symbols-outlined" style="width:22px; height:32px;" class="rounded-circle">
                                        account_circle
                                    </span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="text-small" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(0.5px, 34px, 0px);" data-popper-placement="bottom-end">
                                    <a class="dropdown-item" href="/mypage/">프로필</a>
                                    <a class="dropdown-item" href="/edit_mypage/">정보 수정</a>
                                    <hr class="dropdown-divider">
                                    <a class="dropdown-item" href="{% url 'logout' %}">로그아웃</a>
                                </div>
                            </li>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">회원가입</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>