{% extends 'taxi_posts/base.html' %}
{% block main_area %}
    <br><br><br><br>
    <div class="container" style="height: 100vh;">
        <h2>카풀 모집하기</h2><br>
        <form action="{% url 'ride_update' id=form.instance.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ form.instance.id }}"/>
            <table>
                {{ form.as_table }}
            </table>
            <button type="submit">수정완료</button>
        </form>
    </div>
{% endblock %}