{% extends 'taxi_posts/base.html' %}

{% block main_area %}
<br><br>
<div class="py-3 mb-4"
  style="padding-bottom: 0rem!important; margin-bottom: 0rem!important; padding-top: 1.5rem!important;">
  <nav class="navbar bg-body-tertiary" style="padding-left: 10%; width: 90%;">
    <div class="container-fluid">
      <a href="{% url 'ride_list' %}"><h2 class="mb-4" style="margin-bottom: 0rem!important;">Carpool</h2><a/>
      <form class="d-flex" role="search" method="GET" action="{% url 'ridesearchResult' %}">
        <input class="form-control me-2" type="search" placeholder="검색어 입력..." name="q" value="{{ request.GET.q }}">
        <button class="btn btn-outline-success" type="submit"
          style="padding-left: 10px; padding-right: 10px; padding-bottom: 2px;">
          <span class="material-symbols-outlined" style="font-size:17px">
            search
          </span>
        </button>
      </form>
    </div>
  </nav>
  <hr style="width: 90%;">
</div>
<div class="container mt-4" id="container">
  {% if rides %}
  <ul class="list-group">
    {% for ride in rides %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="#" onclick="openDetailPopup('{{ ride.id }}')" style="width: 100%; display: block;">
        {{ ride.departure_location }} → {{ ride.destination }}</a>
      <span>
        <a href="#" onclick="openDetailPopup('{{ ride.id }}')">
          <span class="badge badge-info" style="margin-right: 5px;">{{ ride.departure_time }}</span>
        </a>
      </span>
      <span>
        <a href="#" onclick="openDetailPopup('{{ ride.id }}')">
          <span class="badge {% if ride.available_seats == 0 %}badge-danger{% else %}badge-info{% endif %}">
            {% if ride.available_seats == 0 %}
                마감
            {% else %}
                모집 중
            {% endif %}
          </span>
        </a>
      </span>
    </li>
    <div id="rideDetailModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeDetailPopup()">&times;</span>
        <div id="rideDetailContent"></div>
        <div class="container mt-4 d-flex justify-content-between align-items-end">
          <div>
            <a href="#" onclick="join_user('{{ ride.id }}'); return false;">
              <div id="join-button">
                <button id="join"><span>채팅 참여</span></button>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </ul>

  <!--페이지네이션-->
  <br><br>
  <nav aria-label="Page navigation example">
    <ul class="pagination d-flex justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}

      {% for i in page_obj.paginator.page_range %}
      <li class="page-item {% if page_obj.number == i %}active{% endif %}">
        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
      </li>
      {% endfor %}

      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>

  {% else %}
  <h3>아직 게시물이 없습니다.</h3>
  {% endif %}

  <a href="{% url 'ride_create' %}" id="create-button" onclick="event.preventDefault();">
    <span class="material-symbols-outlined" id="plus">
      edit_square
    </span>
  </a>
</div>

<script>
  var ride_id;
  // 모달 열기
  function openDetailPopup(rideId) {
    ride_id = rideId;
    const modal = document.getElementById('rideDetailModal');
    modal.style.display = 'block';

    // AJAX 요청 보내기
    const xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        document.getElementById("rideDetailContent").innerHTML = this.responseText;
      }
    };
    xhttp.open("GET", "{% url 'ride_detail' 0 %}".replace('0', rideId), true);
    xhttp.send();
  }
  function join_user() {
    // AJAX를 이용하여 ride.people 값을 1 줄입니다.
    $.ajax({
      url: "/" + ride_id + "/ride_join/",
      method: 'GET',
      success: function (response) {
        if (response.success) {
          // ride.people 값을 성공적으로 줄였으면 채팅 방으로 이동합니다.
          window.location.href = "{{ room_name_json }}" + ride_id;
        } else {
          // 실패한 경우에 대한 처리를 추가할 수 있습니다.
          alert("모집이 마감되었습니다.");
        }
      },
      error: function (xhr, errmsg, err) {
        console.error(xhr.status + ": " + xhr.responseText);
      }
    });
  }

  // 모달 닫기
  function closeDetailPopup() {
    const modal = document.getElementById('rideDetailModal');
    modal.style.display = 'none';
  }
</script>

<script>
  // JavaScript로 로그인 상태 확인 및 알림 창 표시
  document.addEventListener('DOMContentLoaded', function () {
    const createButton = document.getElementById('create-button');

    createButton.addEventListener('click', function () {
      // 사용자가 로그인 상태인지 확인
      {% if user.is_authenticated %}
      window.location.href = '{% url "ride_create" %}';
      {% else %}
      // 로그인 상태가 아닌 경우, 로그인 페이지로 이동
      alert('로그인이 필요합니다. 로그인 페이지로 이동합니다.');
      window.location.href = '{% url "login" %}';
      {% endif %}
    });
  });
</script>
{% endblock %}