{% extends 'taxi_posts/base.html' %}

{% block main_area %}
    <br><br>
    <div class="container mt-4" id="container">
      <h2>프로젝트 모집하기</h2><br>
      <form action="{% url 'prj_create' %}" method="post" class="form">
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-primary">글쓰기</button>
      </form>
      <a href="{% url 'prj_list' %}" class="btn btn-secondary mt-3">Back to Ride List</a>
    </div>
{% endblock %}