{% extends 'prj_posts/base.html' %}

{% block main_area %}

{% if prjList %}
{% for p in prjList %}
<div class="card m-4">
    <div>
        <h3><a href="{{ p.get_absolute_url}}">제목 : {{p.post_title}}</a></h3>
        <h5>모집자 : {{p.user_name}}</h5>
        <h5>프로젝트/공모전 이름 : {{p.prj_name}}</h5>
        <h5>모집 인원 : {{p.prj_membernum}}</h5>
        <h6>{{p.created_at}}</h6>
    </div>
</div>
{% endfor %}
{% else %}
<h3>게시글이 없습니다</h3>
{% endif %}

<!-- Pagination -->
<!-- 페이징처리 시작 -->
<ul class="pagination justify-content-center mb-4">
    <!-- 이전페이지 -->
    {% if prjList.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ prjList.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
        </a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">Previous</a>
    </li>
    {% endif %}
    <!-- 페이지리스트 -->
    {% for page_number in prjList.paginator.page_range %}
    {% if page_number >= prjList.number|add:-10 and page_number <= prjList.number|add:10 %} 
    {% if page_number == prjList.number %}
    <li class="page-item active" aria-current="page"><a class="page-link"
            href="?page={{ page_number }}">{{page_number}}</a></li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if prjList.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ prjList.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">Next</a>
        </li>
        {% endif %}
</ul>

<a href="create_prj"><span>글 작성하기</span></a>

{% endblock %}