{% extends 'taxi_posts/base.html' %}
{% block main_area %}
    <br><br><br><br>
    <div class="container" style="height: 100vh;">
        <h2>공모전/프로젝트 모집하기</h2><br>
        <form action="{% url 'prj_update' id=form.instance.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ form.instance.id }}"/>
            <table>
                <tr>
                  <td>전공 : </td>
                  <td>
                    {{ form.user_major }}
                  </td>
                </tr>
                <tr>
                  <td>공모전 선택 : </td>
                  <td>
                    {{ form.contest }}
                  </td>
                </tr>
                <tr>
                  <td>프로젝트 이름: </td>
                  <td>
                    {{ form.prj_name }}
                    <br>
                    <small>{{ form.prj_name.help_text }}</small>
                  </td>
                </tr>
                <tr>
                  <td>학년 : </td>
                  <td>
                    {{ form.user_grade }}
                  </td>
                </tr>
                <tr>
                  <td>모집 인원: </td>
                  <td>
                    {{ form.prj_member }}
                  </td>
                </tr>
                <tr>
                  <td>상세 정보 : </td>
                  <td>
                    {{ form.post_content }}
                  </td>
                </tr>
              </table>
            <button type="submit">수정완료</button>
        </form>
    </div>
{% endblock %}