{% extends 'taxi_posts/base.html' %}
{% load static %}

{% block main_area %}
<link rel="stylesheet" type="text/css" href="{% static 'contest/css/list.css' %}">
<br><br><br><br>
<div class="container">
<h2>마이페이지</h2>
</div>
<br>
<div class="container">
  <div class="d-flex align-items-center">
    <div class="rounded-circle overflow-hidden me-4" style="width: 50px; height: 50px;">
      <span class="material-symbols-outlined" alt="프로필 이미지" style="width: 100%; height: 100%; object-fit: cover; font-size:50px;">
        account_circle
    </span>
    </div>
    <div class="userthing">
    <p class="mb-1">이름: {{ user_profile.real_name }}</p>
    <p class="mb-0">전화번호: {{ user_profile.phone_number }}</p>
    </div>
  </div>
</div>

<br>

<div class="container">
<h3>스크랩한 공모전</h3>
<div class="row" style="margin-left:0px;">
{% for contest in saved_posts %}
  <div class="custom-card row mb-2 col-md-3">
      <a class="top" href="{% url 'contest_detail' contest.id %}">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary-emphasis">
              <p class="badges">
                <span>{{ contest.contest_category }}</span>
              </p>
            </strong>
            <h3 class="mb-0">{{ contest.contest_title }}</h3>
            <div class="mb-1 text-body-secondary"> 
              <span class="dday {% if contest.deadline < 0 %}highlight{% endif %}">
                {% if contest.deadline.days >= 0 %}
                  D-{{ contest.deadline.days }}
                {% else %}
                  마감
                {% endif %}
              </span>
            </div>
          </div>
        </div>
      </a>
  </div>
{% endfor %}
{% if not saved_posts %}
  <p>아직 스크랩한 게시물이 없습니다.</p>
{% endif %}
  </div>
</div><br>

<div class="container">
  <h3>나의 채팅방 목록</h3>
  {% for room in chat_rooms %}
    <a href="{% url 'chat_room' room_name=room %}" class="btn btn-info">{{ room }}</a>
  {% endfor %}
  {% if not chat_rooms %}
    <p>작성한 글과 관련된 채팅방이 없습니다.</p>
  {% endif %}
</div>

<div class="container">
  <h3>작성한 글</h3>
  <!-- User's Own Posts -->
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-target="all" href="#">전체</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-target="prj" href="#">공모전/프로젝트</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-target="study" href="#">스터디</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-target="taxi" href="#">카풀</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-target="ott" href="#">OTT</a>
        </li>
      </ul>
    </div>

    <div class="category all-posts">
      {% if not ott_posts and not prj_posts and not study_posts and not taxi_posts %}
        <p>아직 작성한 게시물이 없습니다.</p>
      {% endif %}

      {% for ott in ott_posts %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'ott_detail' ott.id %}" style="width: 100%; display: block;">
          [{{ ott.type }}] {{ ott.people }}명 모집
        </a>
      </li>
      {% endfor %}

      {% for prj in prj_posts %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'prj_detail' prj.id %}" style="width: 100%; display: block;">
          {% if prj.contest %}
              [{{ prj.contest.contest_title }}] 공모전 팀원
            {% elif prj.prj_name %}
              {{ prj.prj_name }} 프로젝트 팀원
            {% endif %}
        </a>
      </li>
      {% endfor %}

      {% for study in study_posts %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a href="{% url 'study_detail' study.id %}" style="width: 100%; display: block;">
                <span>{{ study.post_title }}</span></a>
          <span>
            <a href="{% url 'study_detail' study.id %}">
              <span class="badge badge-info">{{ study.study_type }}</span>
          </a>
        </li>
      {% endfor %}


      {% for ride in taxi_posts %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'ride_detail' ride.id %}" style="width: 100%; display: block;">{{ ride.departure_location }} -> {{ ride.destination }}</a>
        <span class="badge-container">
        <span>
          <a href="{% url 'ride_detail' ride.id %}">
            <span class="badge badge-info">{{ ride.departure_time }}</span>
          </a>
        </span>
        </span>
      </li>
      {% endfor %}
      
    </div>
  </div>

    <div class="card-body">
    <div class="category ott-posts">
      {% for ott in ott_posts %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'ott_detail' ott.id %}" style="width: 100%; display: block;">
          [{{ ott.type }}] {{ ott.people }}명 모집
        </a>
      </li>
      {% endfor %}
      {% if not ott_posts %}
        <p>아직 작성한 게시물이 없습니다.</p>
      {% endif %}
    </div>

    <div class="category prj-posts">
      {% for prj in prj_posts %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% url 'prj_detail' prj.id %}" style="width: 100%; display: block;">{{ prj.prj_name }} 팀원 {{ prj.prj_member }}명 모집합니다</a>
        </li>
      {% endfor %}
      {% if not prj_posts %}
        <p>아직 작성한 게시물이 없습니다.</p>
      {% endif %}
    </div>

    <div class="category study-posts">
      {% for study in study_posts %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a href="{% url 'study_detail' study.id %}" style="width: 100%; display: block;">{{ study.post_title }}</a>
          <span>
              <a href="{% url 'study_detail' study.id %}">
                <span class="badge badge-info">{{ study.study_type }}</span>
              </a>
          </span>
        </li>
      {% endfor %}
      {% if not study_posts %}
        <p>아직 작성한 게시물이 없습니다.</p>
      {% endif %}
      </div>

    <div class="category taxi-posts">
      {% for ride in taxi_posts %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'ride_detail' ride.id %}" style="width: 100%; display: block;">{{ ride.departure_location }} -> {{ ride.destination }}</a>
        <span>
          <a href="{% url 'ride_detail' ride.id %}">
            <span class="badge badge-info">{{ ride.departure_time }}</span>
          </a>
        </span>
      </li>
      {% endfor %}
      {% if not taxi_posts %}
        <p>아직 작성한 게시물이 없습니다.</p>
      {% endif %}
    </div>
    </div>
  </div>
  </div>
</div>
<br>
<style>
  /* 전반적인 스타일 */
  body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    height: 100vh;
  }

  h2 {
    color: #333;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 5px;
    color: #555;
  }

  /* 스크랩한 공모전에 대한 스타일 */
  .container {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 15px;
    padding-bottom: 10px;
    margin-bottom: 2%;
  }

  .border {
    border-color: #ddd;
    border-width: 1px;
    border-style: solid;
    padding: 15px;
    margin-bottom: 20px;
  }

  .text-primary-emphasis {
    color: #007bff;
  }

  .card-text {
    color: #777;
    margin-bottom: 10px;
  }

  .icon-link {
    color: #007bff;
    text-decoration: none;
    display: inline-block;
  }

  .icon-link:hover {
    text-decoration: underline;
  }

  .card-body {
    padding: 0rem;
}

  

  /* 사용자가 작성한 게시물에 대한 스타일 */
  .card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
  }


  .list-group-item {
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    text-align: justify;
  }

  .badge-info {
    background-color: #17a2b8;
  }

  .badge-container {
    margin-right: 10px; /* 원하는 여백 크기 */
  }

  .custom-card {
    margin-bottom: 20px;
  }

  .custom-card .row {
    margin-right: 5px;
    margin-left: 5px;
  }

  .row {
    display: -ms-flexbox;
    display: inline-table;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
  }

  .custom-card .col {
    padding-right: 8px; /* 컬럼 사이의 간격을 조절합니다 */
    padding-left: 8px;
  }

  .custom-card .border {
    background-color: #fff; /* 배경색을 흰색으로 지정 */
  }

  .userthing {
    padding-left: 15px;
  }
  .card-header .nav-link {
    color: black !important;
  }

  .card-header .nav-link.active {
    color: blue !important;
  }
  .list-group-item {
    border: 1px solid #ddd;
  }
  .list-group-item {
    padding: 10px;
}
.custom-card .row {
  margin-right: 5px;
  margin-left: 5px;
  width: 217px;
  text-align: center;
}
</style>
<script>
  $(document).ready(function () {
    // 특정 카테고리를 보여주는 함수
    function showCategory(target) {
      $('.category').hide();
      $('.' + target + '-posts').show();
    }
    
    // 카테고리 링크에 대한 클릭 이벤트
    $('.nav-link').click(function (e) {
      e.preventDefault();
      
      // 현재 클릭된 카테고리에 "active" 클래스 추가
      $(this).addClass('active');
      
      // 다른 카테고리에서 "active" 클래스 제거
      $('.nav-link').not(this).removeClass('active');
      
      var target = $(this).data('target');
      showCategory(target);
    });

    // 페이지 로드 시 "전체" 카테고리를 기본으로 보여주기
    showCategory('all');

    // 삭제 확인 모달
    $('.btn-danger').click(function () {
      $('#confirmDeleteModal').modal('show');
    });

    // 모달 내 취소 버튼에 대한 이벤트 리스너 추가
    $('#confirmDeleteModal .btn-secondary').click(function () {
      $('#confirmDeleteModal').modal('hide');
    });
  });

  $(document).ready(function () {
    // 네비게이션 메뉴 클릭 시 페이지 이동
    $('.nav-link').click(function () {
      var targetUrl = $(this).attr('href');
      window.location.href = targetUrl;
    });
  });
</script>
{% endblock %}