{% extends 'taxi_posts/base.html' %}
{% load static %}

{% block main_area %}
  <head>
    <link rel="stylesheet" href="{% static 'users/css/signup.css' %}">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  </head>
  <div class="signup-box" style="margin-top: 250px; margin-bottom: 90px;">
    <section class="signup-form">
      <h1>Sign Up</h1>
      <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <div class="int-area">
          <input type="text" name="real_name" id="real_name" autocomplete="off" required>
          <label for="real_name">이름</label>
          {% if form.errors.real_name %}
              <div class="alert alert-danger" role="alert">{{ form.errors.real_name.0 }}</div>
          {% endif %}
        </div>
        <div class="int-area">
          <input type="text" name="username" id="id" autocomplete="off" required>
          <label for="id">ID</label>
          {% if form.errors.username %}
              <div class="alert alert-danger" role="alert">{{ form.errors.username.0 }}</div>
          {% endif %}
        </div>
        <div class="int-area">
          <input type="text" name="phone_number" id="phone" autocomplete="off" required>
          <label for="phone">전화번호(010-XXXX-XXXX)</label>
          {% if form.errors.phone_number %}
              <div class="alert alert-danger" role="alert">{{ form.errors.phone_number.0 }}</div>
          {% endif %}
        </div>
        <div class="int-area">
          <input type="password" name="password1" id="pw1" autocomplete="off" required>
          <label for="pw1">Password</label>
          {% if form.errors.password1 %}
              <div class="alert alert-danger" role="alert">{{ form.errors.password1.0 }}</div>
          {% endif %}
        </div>
        <div class="int-area">
          <input type="password" name="password2" id="pw2" autocomplete="off" required>
          <label for="pw2">Confirm Password</label>
          {% if form.errors.password2 %}
              <div class="alert alert-danger" role="alert">{{ form.errors.password2.0 }}</div>
          {% endif %}
        </div>
        <div class="btn-area">
          <button type="submit" id="signup">SIGN UP</button>
        </div>
      </form>
      <div class="caption">
        <a href="{% url 'signup' %}">Don't have an account? Sign Up</a>
      </div>
    </section>
  </div>

  <div class="modal" id="success-modal" {% if success_modal %}style="display: block;"{% endif %} tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">회원가입 성공</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <p>{{ user_profile.real_name }}님. 환영합니다!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="window.location.href='{% url 'login' %}'">로그인하러 가기</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.close').on('click', function () {
            $('#success-modal').css('display', 'none');
        });
    });
</script>

  <script>
    $(document).ready(function (){
      let name = $('#real_name');
      let username = $('#id');
      let password1 = $('#pw1');
      let password2 = $('#pw2');
      let btn = $('#btn');
      let phonenum = $('#phone');

      $(btn).on('click', function() {
        if ($(username).val() == "") {
          $(username).next('label').addClass('warning');
          setTimeout(function() {
            $('label').removeClass('warning');
          }, 1500);
        } else if ($(password1).val() == "") {
          $(password1).next('label').addClass('warning');
          setTimeout(function() {
            $('label').removeClass('warning');
          }, 1500);
        } else if ($(password2).val() == "") {
          $(password2).next('label').addClass('warning');
          setTimeout(function() {
            $('label').removeClass('warning');
          }, 1500);
        }else if ($(phonenum).val() == "") {
          $(phonenum).next('label').addClass('warning');
          setTimeout(function() {
            $('label').removeClass('warning');
          }, 1500);
        }else if ($(name).val() == "") {
          $(name).next('label').addClass('warning');
          setTimeout(function() {
            $('label').removeClass('warning');
          }, 1500);
        }

    });
  </script>
  <script>
    $(document).ready(function () {
        if (sessionStorage.getItem('first_time_load')) {
            setTimeout(function () {
                $('#error-message').fadeOut('slow');
            }, 5000); 

            sessionStorage.removeItem('first_time_load');

            {% if messages.success %}
                $('#success-modal').css('display', 'block');
                $('#error-message').css('display', 'none');
            {% endif %}
        }

        $('.close').on('click', function () {
            $('#success-modal').css('display', 'none');
        });
    });
</script>
{% endblock %}
