@media (min-width: 770px) and (max-width: 1110px) {
    .col-md-3 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}

@media (min-width: 520px) and (max-width: 770px) {
    .col-md-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 517px) {
    #container {
        display: flex;
        justify-content: center;
    }

    .col-md-3 {
        flex: 0 0 60%;
        max-width: 100%;
    }
}