@charset "utf-8";

* {
    margin: 0; padding: 0; border: 0; -webkit-touch-callout: none;
  }

@media screen and (min-width: 896px){
    img {
        width: 120px;
        height: 170px;
    }
    div.list{
        display: inline-block;
        width: 445px;
    }
    div.item{
        width: 400px;
    }
}
@media screen and (max-width: 896px){
    #container1 > div.list > div.item {
        margin-bottom: 8px;
        background-color: #fff;
        vertical-align: top;
    }
    #container1{
      margin: 8px;
    }
}

#container1 p.info > span.viewcount {
    padding-left: 14px;
    background-size: 12px 8px;
}
#container1 p.info > span {
    display: inline-block;
    margin-right: 8px;
    line-height: 18px;
    color: #a6a6a6;
    font-size: 12px;
    letter-spacing: 0;
}

#container1 > div.list > div.item > a.top {
    display: block;
    padding: 16px;
}
a {
    color: inherit;
    text-decoration: none;
}

#container1 > div.list > div.item > div.bottom {
    border-top: 1px solid #f2f2f2;
}

#container1 > div.list > div.item > a.top > p.badges > span {
    display: inline-block;
    margin: 0 4px 4px 0;
    padding: 0 8px;
    line-height: 20px;
    border-radius: 10px;
    color: #737373;
    font-size: 12px;
    background-color: #f2f2f2;
}

#container1 > div.list > div.item > a.top > img {
    float: right;
    display: block;
    margin-left: 8px;
    width: 80px;
    height: 114px;
    background-color: #f9f9f9;
    background-position: center top;
    background-size: cover;
}

#container1 > div.list > div.item > a.top > h2 {
    display: -webkit-box;
    margin-bottom: 4px;
    max-height: 48px;
    line-height: 24px;
    color: #292929;
    font-size: 16px;
    font-weight: bold;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#container1 p.info > span.dday {
    font-weight: bold;
    color: #0aafdf;
}
#container1 p.info > span.highlight {
    color: #8B2845;
}
#container1 p.info > span {
    display: inline-block;
    margin-right: 8px;
    line-height: 18px;
    color: #a6a6a6;
    font-size: 12px;
    letter-spacing: 0;
}

body {
    letter-spacing: -0.5px;
}

  @media screen and (min-width: 896px) {
    #container1 {
      margin: 16px auto; width: 896px;
    }
  }
  
  #container1 > div.horizontal {
    margin-bottom: 8px; background-color: #fff;
  }
  #container1 > div.horizontal.dummy {
    height: 321px;
  }
  #container1 > div.horizontal > h2 {
    padding: 24px 0 16px 16px; line-height: 27px; color: #292929; font-size: 18px; font-weight: bold;
  }
  
  #container1 > div.list > div.item {
    margin-bottom: 8px; background-color: #fff; vertical-align: top;
  }
  #container1 > div.list > div.item > a.top {
    display: block; padding: 16px;
  }
  #container1 > div.list > div.item > a.top > img {
    float: right; display: block; margin-left: 8px; width: 80px; height: 114px; background-color: #f9f9f9; background-position: center top; background-size: cover;
  }
  #container1 > div.list > div.item > a.top > p.badges {
    margin-bottom: 8px;
  }
  #container1 > div.list > div.item > a.top > p.badges > span {
    display: inline-block; margin: 0 4px 4px 0; padding: 0 8px; line-height: 20px; border-radius: 10px; color: #737373; font-size: 12px; background-color: #f2f2f2;
  }
  #container1 > div.list > div.item > a.top > h2 {
    display: -webkit-box; margin-bottom: 4px; max-height: 48px; line-height: 24px; color: #292929; font-size: 16px; font-weight: bold; word-wrap: break-word; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical;
  }
  #container1 > div.list > div.item > a.top > p.company {
    margin-bottom: 8px; line-height: 20px; color: #737373; font-size: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
  }
  #container1 > div.list > div.item > div.bottom {
    border-top: 1px solid #f2f2f2;
  }
  #container1 > div.list > div.item > div.bottom > a {
    display: inline-block; width: 32%; height: 40px; line-height: 40px; text-align: center;
  }
  #container1 > div.list > div.item > div.bottom > a > span.text {
    color: #292929; font-size: 14px;
  }
  #container1 > div.list > div.item > div.bottom > a > span.count {
    margin-left: 4px; color: #a6a6a6; font-size: 12px; font-weight: bold; letter-spacing: 0;
  }
  #container1 > div.list > div.item > div.bottom > a > span.count.highlight {
    color: #ffa81f;
  }
  
  #container1 > div.ad {
    margin-bottom: 8px; text-align: center; background-color: #fff;
  }
  #container1 > div.ad a {
    display: flex; justify-content: center; cursor: pointer;
  }
  #container1 > div.ad img {
    height: 85px;
  }
  
  @media screen and (min-width: 896px) {
    #container1 > div.list > div.item {
      display: inline-block; margin-right: 16px; margin-bottom: 16px; width: 440px;
    }
    #container1 > div.list > div.item:nth-child(even) {
      margin-right: 0;
    }
    #container1 > div.list > div.item > a.top > img {
      width: 120px; height: 171px;
    }
    #container1 > div.ad {
      margin-bottom: 16px;
    }
    #container1 > div.ad img {
      height: 110px;
    }
  }
  
  #container1 > div.empty {
    padding: 96px 0; text-align: center;
  }
  #container1 > div.empty > p {
    color: #a6a6a6; font-size: 18px;
  }


  img {
    display: block;
  }
  a {
    color: inherit; text-decoration: none;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }
  input, textarea {
    outline: none;
  }
  input::placeholder, textarea::placeholder {
    color: #a6a6a6;
  }

  textarea {
    resize: none;
  }
  ol, ul {
    list-style-type: none;
  }
  hr {
    clear: both; width: 100%; height: 0; background-color: transparent;
  }
  body {
    font-family: "맑은 고딕", sans-serif; letter-spacing: -0.5px; background-color: #f2f2f2; user-select: none; -webkit-user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
  }
  
  section.menu {
    width: 100%; box-sizing: border-box; border-bottom: 1px solid #d6d6d6; font-size: 0; background-color: #f2f2f2; white-space: nowrap;
  }
  @media only screen and (max-width: 1199px) {
    section.menu {
      overflow-x: scroll; overflow-y: hidden;
    }
    section.menu::-webkit-scrollbar {
      display: none;
    }
  }
  section.menu.fixed {
    position: fixed; top: 0; z-index: 5;
  }
  section.menu > div.wrap {
    text-align: center;
  }
  section.menu > div.wrap > a {
    display: inline-block; margin: 0 12px; border-bottom: 3px solid transparent; color: #737373; font-size: 14px; font-weight: bold;
  }
  section.menu > div.wrap > a.active {
    border-bottom-color: #1dcdff; color: #0aafdf;
  }
  @media only screen and (min-width: 1200px) {
    section.community > div.wrap {
      margin: 0 auto; padding: 24px 0; width: 576px; min-height: 128px;
    }
    section.community > div.wrap > img {
      left: 0; top: 24px; width: 80px; height: 80px; border-radius: 40px;
    }
    section.community > div.wrap > h1 > a {
      padding: 0 0 4px 96px; line-height: 30px; font-size: 24px;
    }
    section.community > div.wrap > p.description {
      padding: 0 0 4px 96px; font-size: 12px;
    }
    section.community > div.wrap > p.details {
      padding: 0 0 0 96px;
    }
    section.menu > div.wrap > a {
      height: 45px; line-height: 48px;
    }
  }
  @media only screen and (max-width: 1199px) {
    section.community > div.wrap {
      margin: 0 auto; padding: 16px; max-width: 608px; min-height: 72px;
    }
    section.community > div.wrap > img {
      left: 16px; top: 16px; width: 40px; height: 40px; border-radius: 20px;
    }
    section.community > div.wrap > h1 > a {
      padding: 0 0 4px 52px; font-size: 18px;
    }
    section.community > div.wrap > p.description {
      padding: 0 0 0 52px; font-size: 12px;
    }
    section.community > div.wrap > p.details {
      padding: 0 0 0 52px;
    }
    section.menu > div.wrap > a {
      height: 37px; line-height: 40px;
    }
  }
  
  section.tab > div.wrap {
    text-align: center;
  }

  section.tab > div.wrap > a {
    color: #292929;
    font-size: 14px;
  }

  ::after, ::before {
    box-sizing: revert;
  }

  @media (min-width: 992px){
    .container, .container-lg, .container-md, .container-sm {
      max-width: 1000px;
    }
  }


