<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>WWW</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>

</head>

<body>
    <!-- navbar -->
    {% include 'taxi_posts/navbar.html' %}

    <div class="container">
        <h1 class="row my-3">스터디</h1>


        <!-- 게시글 -->
        {% block main_area %}
        {% endblock %}
    </div>
</body>

</html>