{% extends 'study_posts/base.html' %}

{% block main_area %}

{% if studys %}
{% for p in studys %}
<div class="card m-4 ">
    <div>
        <h3><a href="{{ p.get_absolute_url}}">제목 : {{p.post_title}}</a></h3>
        <h5>모집자 : {{p.user_name}}</h5>
        <h5>스터디 과목 : {{p.study_type}}</h5>
        <h5>모집 인원 : {{p.study_membernum}}</h5>
        <h6>{{p.created_at}}</h6>
    </div>
</div>
{% endfor %}
{% else %}
<h3>게시글이 없습니다</h3>
{% endif %}
<a href="create_study"><span>글 작성하기</span></a>

<!-- Pagination -->
<ul class="pagination justify-content-center mb-4">
    <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
        </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
        </a>
    </li>
</ul>
{% endblock %}