{% extends 'taxi_posts/base.html' %}
{% block main_area %}
    <br><br><br><br>
    <div class="container" style="height: 100vh;">
        <h2>스터디 모집하기</h2><br>
        <form action="{% url 'study_update' id=form.instance.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ form.instance.id }}"/>
            <table>
                <tr>
                  <td>제목 : </td>
                  <td>
                    {{ form.post_title }}
                  </td>
                </tr>
                <tr>
                  <td>전공 : </td>
                  <td>
                    {{ form.user_major }}
                  </td>
                </tr>
                <tr>
                  <td>학년 : </td>
                  <td>
                    {{ form.user_grade }}
                  </td>
                </tr>
                <tr>
                  <td>스터디 종류 : </td>
                  <td>
                    {{ form.study_type }}
                  </td>
                </tr>
                <tr>
                  <td>모집 인원: </td>
                  <td>
                    {{ form.study_member }}
                  </td>
                </tr>
                <tr>
                  <td>상세 정보: </td>
                  <td>
                    {{ form.post_content }}
                    <br>
                    <small>{{ form.post_content.help_text }}</small>
                  </td>
                </tr>
              </table>
            <button type="submit">수정완료</button>
        </form>
    </div>
    <style>
      body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
          background-color: #f0f0f0;
          display: flex;
          justify-content: center;
          align-items: center;
      }

      .container {
          width: 80%;
          background-color: #fff;
          padding: 20px;
          margin: 20px;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      h2 {
          color: #333;
          text-align: center;
      }

      form {
          margin-bottom: 20px;
      }

      table {
          width: 100%;
          border-collapse: collapse;
      }

      table th, table td {
          padding: 8px;
          border-bottom: 1px solid #ddd;
      }

      button[type="submit"] {
          padding: 10px 20px;
          border-radius: 4px;
          cursor: pointer;
          text-decoration: none;
          background-color: #3498db;
          color: #fff;
          border: none;
          display: block;
          margin-top: 10px;
      }
  </style>
{% endblock %}