{% extends 'taxi_posts/base.html' %}
{% load static %}

{% block main_area %}
<br><br>
<section class="title" style="top: -170px; transform: none;">
    <div class="wrap">
        <p class="badges">
            <span>{{ contest.contest_category }}</span>
        </p>
        {% if contest.contest_image %}
            <img src="{{ contest.contest_image.url }}" alt="Contest Image">
        {% else %}
            <img src="https://picsum.photos/seed/{{ contest.id }}/800/200" class="card-img-top" alt="random_image">
        {% endif %}
        <div class="content">
            <h1 style="font-size: 20px;">{{ contest.contest_title }}</h1>
            <p class="info">
                <span class="viewcount" style="font-size: 15px;">
                    <span class="material-symbols-outlined" style="font-size: 13px; padding-top: 6px;">
                        visibility
                    </span>
                    {{ contest.contest_view_count }}
                </span>
            </p>
            <a class="scrap">
                <form method="post" action="{% url 'contest_detail' contest.id %}" id="scrapForm">
                    {% csrf_token %}
                    <button type="button" name="scrap" onclick="handleScrap()">
                        <img id="scrapImage" src="{% static 'contest/image/bookmark.png' %}" style="background-color: white; width: 29px;">
                    </button>
                </form>
            </a>
        </div>
    </div>
</section>

<section class="tab">
    <div class="wrap">
        <a href="{% url 'contest_detail' contest.id %}">
            <span class="text">소개</span>
        </a>
        <a href="{% url 'list_contest' contest.id %}">
            <span class="text">팀원 모집</span>
            <span class="count">{{ contest.prj_set.count }}</span>
        </a>
        <a href="{% url 'comment' contest.id %}" data-menu="comment" class="active">
            <span class="text">댓글</span>
            <span class="count">{{ comments_count  }}</span>
        </a>
    </div>
</section>

<br><br>
<div class="container">
        {% if user.is_authenticated %}
        <!-- 댓글 작성 폼 -->
        <form method="post" action="{% url 'comment' contest.id %}">
            {% csrf_token %}
            <div class="form-group d-flex">
                <label for="comment" class="mr-2">댓글:</label>
                <textarea class="form-control" id="comment" name="comment" cols="30" rows="2"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    {% else %}
        <!-- 로그인하지 않은 경우 -->
        <div class="alert alert-warning" role="alert">
            로그인이 필요합니다. <a href="{% url 'login' %}" style="color:blue;">로그인</a> 하시겠습니까?
        </div>
    {% endif %}
    </div>
    <div class="comments" style="padding-right: 0px; padding-left: 0px;">
        <div class="container">
            <div class="comments">
                {% for comment in comments %}
                <div class="comment">
                    <span>
                        {{ comment.comment }} - {{ comment.author.username }} - {{ comment.created_at|date:"Y-m-d H:i:s" }}
                        
                        {% if user.is_authenticated and comment.author == user %}
                            <button class="btn btn-link btn-sm text-danger delete-comment-btn" data-comment-id="{{ comment.id }}">Delete</button>
                        {% endif %}
                    </span>
                </div>
            {% endfor %}
            </div>
    
    <!-- 모달 창 -->
<div class="modal fade" id="deleteCommentModal" tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteCommentModalLabel">댓글 삭제 확인</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>정말로 댓글을 삭제하시겠습니까?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-danger confirm-delete-btn">삭제</button>
            </div>
        </div>
    </div>
</div>

<!-- 페이지네이션 -->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center" style="margin-bottom: 12%;">
        {% if comments.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        {% for i in comments.paginator.page_range %}
            <li class="page-item {% if comments.number == i %}active{% endif %}">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
        {% endfor %}

        {% if comments.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ comments.paginator.num_pages }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>


<!-- comment.html -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // 댓글 삭제 버튼에 클릭 이벤트 리스너 추가
        document.querySelectorAll('.delete-comment-btn').forEach(function (button) {
            button.addEventListener('click', function () {
                var commentId = this.getAttribute('data-comment-id');
                var confirmation = confirm('정말로 삭제하시겠습니까?');

                if (confirmation) {
                    // AJAX를 사용하여 비동기적으로 댓글 삭제 요청
                    fetch('/delete_comment/' + commentId + '/', {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': getCookie('csrftoken'),  // CSRF 토큰 추가
                        },
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            // 댓글이 성공적으로 삭제된 경우, 해당 댓글을 화면에서 제거
                            var commentElement = this.closest('.comment');
                            commentElement.parentNode.removeChild(commentElement);
                        }
                        alert(data.message);  // 성공 또는 실패 메시지 표시
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                }
            });
        });

        // CSRF 토큰을 가져오는 함수
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });

    document.addEventListener('DOMContentLoaded', function () {
        // 댓글 작성 폼에서 확인 버튼을 누를 때 로그인 페이지로 이동
        var loginAlert = document.querySelector('.alert.alert-warning');
        if (loginAlert) {
            loginAlert.addEventListener('click', function () {
                window.location.href = "{% url 'login' %}";
            });
        }
    });
</script>
</div>

<style>
    section.title > div.wrap > div.content > p.info > span {
        display: inline-block;
        margin-right: 8px;
        line-height: 18px;
        color: #a6a6a6;
        font-size: 12px;
        letter-spacing: 0;
    }

    .comments {
        margin-top: 20px;
    }

    .comment {
        margin-bottom: 10px;
    }

    .comment-form {
        margin-top: 20px;
    }
    section.tab > div.wrap > a > span.count {
        margin-left: 4px;
        color: #a6a6a6;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 0;
    }
    span.commentcount {
        margin-left: 4px;
        color: #a6a6a6;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0;
    }
</style>
<script>
    function handleScrap(event) {
        jQuery.ajax({
            url: "{% url 'scrap_contest' contest.id %}",
            method: "POST",
            data: { csrfmiddlewaretoken: '{{ csrf_token }}', contest_id: {{ contest.id }} },
            success: function (data) {
                console.log(data);
                alert(data.message);
                if (data.status === 'success') {
                    // 추가 작업
                }
            },
            error: function (error) {
                console.log(error);
            },
        });
    }
</script>
<script>
    function setInitialScrapState(contestId, userId) {
        var scrapButton = document.getElementById('scrapImage');
        var storedState = localStorage.getItem('scrapState_' + userId + '_' + contestId);
    
        if (storedState && storedState === 'scrap') {
            scrapButton.src = "{% static 'contest/image/bookmark_FILL.png' %}";
        } else {
            scrapButton.src = "{% static 'contest/image/bookmark.png' %}";
        }
    }

    function handleScrap() {
                var scrapButton = document.getElementById('scrapImage');
                var csrfToken = '{{ csrf_token }}';
                var contestId = {{ contest.id }};
                var userId = {{ request.user.id }};
            
                jQuery.ajax({
                    url: "{% url 'scrap_contest' contest.id %}",
                    method: "POST",
                    data: { csrfmiddlewaretoken: csrfToken, contest_id: contestId },
                    success: function (data) {
                        console.log(data);
                        alert(data.message);
            
                        if (data.status === 'success') {
                            // Toggle the image source
                            if (scrapButton.src.includes('bookmark.png')) {
                                scrapButton.src = "{% static 'contest/image/bookmark_FILL.png' %}";
                                localStorage.setItem('scrapState_' + userId + '_' + contestId, 'scrap');
                            } else {
                                scrapButton.src = "{% static 'contest/image/bookmark.png' %}";
                                localStorage.removeItem('scrapState_' + userId + '_' + contestId);
                            }
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    },
                });
            }
            
            // 스크랩 상태를 페이지 로드 시 반영
            document.addEventListener('DOMContentLoaded', function() {
                var userId = {{ request.user.id }};
                setInitialScrapState({{ contest.id }}, userId);
            });
</script>

<link rel="stylesheet" type="text/css" href="{% static 'contest/css/detail.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'contest/css/comment.css' %}">

{% endblock %}
