{% extends 'taxi_posts/base.html' %}
{% load static %}

{% block main_area %}
    <br><br>
    <div class="container mt-4" id="container">
      <h2>{{ contest.contest_title }}</h2>
      <p>신청 기간: {{ contest.deadline }} 까지</p>
      <p>세부 사항: {{ contest.contest_description }}</p>
      
      <a href="{% url 'contest_list' %}" class="btn btn-secondary">목록으로 돌아가기</a>

      <h3>댓글</h3>
      {% for comment in contest.comments.all %}
          <p>{{ comment.name }} - {{ comment.content }}</p>
      {% endfor %}

      <section class="title" style="top: -170px; transform: none;">
        <div class="wrap">
          <p class="badges"><span>기획/아이디어</span></p>
          <figure style="background-image: url(&#39;https://cf-cpi.campuspick.com/activity/1699790947804419_thumb.jpg&#39;);"></figure>
          <div class="content">
            <h1>{{ contest.contest_title }}</h1>
            <p class="info">
                <span class="viewcount">
                    <span class="material-symbols-outlined" style="font-size: 11px;">
                    visibility
                    </span>
                    {{ contest.contest_view_count }}
                </span>
            </p>
          </div>
        </div>
      </section>
      <section class="tab" style="top: 0px; transform: none;">
        <div class="wrap">
          <a href="{% url 'contest_detail' contest.id %}" class=""><span class="text">소개</span></a>
          <a href="/prj/" data-menu="team"><span class="text">팀원 모집</span><span class="teamcount count">0</span></a>
          <a href="https://www.campuspick.com/contest/view?id=24067&amp;menu=comment" data-menu="comment" class="active"><span class="text">댓글</span><span class="commentcount count highlight">3</span></a>
        </div>
      </section>


      <!-- Add new comment form -->
      <form method="post" action="{% url 'contest_detail' contest.id %}">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">댓글 달기</button>
      </form>
        
    </div>
    <link rel="stylesheet" type="text/css" href="{% static 'contest/css/list.css' %}">
{% endblock %}