
{% extends 'taxi_posts/base.html' %}
{% load static %}

{% block navbar_area %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav">
    <div class="container-fluid">
      <form class="form-inline ml-auto" role="search">
        <input class="form-control mr-sm-2" type="search" placeholder="검색" aria-label="검색">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
      </form>
    </div>
  </nav>
{% endblock %}

{% block main_area %}
  <!-- <section class="search fixed" style="top: -56px; transform: translateY(0px);">
    <div class="wrap">
      <form>
        <input type="search" name="keyword" class="keyword" placeholder="찾으시는 공모전이 있나요?" autocomplete="off">
        <input type="submit" class="submit">
      </form>
    </div>
  </section>-->
  <section class="tab fixed" style="top: 0px; transform: translateY(0px);">
    <div class="wrap">
        <a href="/contest/" class="active"><span class="text">전체</span></a>
        <a href="?category=101">기획/아이디어</a>
        <a href="?category=102">IT/소프트웨어/게임</a>
        <a href="?category=103">광고/마케팅</a>
        <a href="?category=104">디자인</a>
        <a href="?category=105">사진/영상/UCC</a>
        <a href="?category=106">예체능</a>

      {% comment %} <a href="" data-category="101"><span class="text">기획/아이디어</span></a>
      <a href="" data-category="102"><span class="text">브랜드/네이밍</span></a>
      <a href="" data-category="103"><span class="text">광고/마케팅</span></a>
      <a href="" data-category="104"><span class="text">사진/영상/UCC</span></a>
      <a href="" data-category="105"><span class="text">디자인</span></a>
      <a href="" data-category="106"><span class="text">예체능</span></a>
      <a href="" data-category="107"><span class="text">문학/수기/시나리오</span></a>
      <a href="" data-category="108"><span class="text">IT/소프트웨어/게임</span></a>
      <a href="" data-category="109"><span class="text">기타</span></a></div> {% endcomment %}
  </section>
<div id="container1" style="padding-top: 112px; flex-grow: 1;" >    
    {% if contests %}
    {% for contest in contests %}
    <div class="list">
        <div class="item">
            <a class="top" href="{% url 'contest_detail' contest.id %}">
                {% if contest.contest_image %}
                    <img src="{{ contest.contest_image.url }}" alt="Contest Image">
                {% else %}
                    <img src="https://picsum.photos/seed/{{ contest.id }}/800/200" class="card-img-top" alt="random_image">
                {% endif %}
                <p class="badges">
                    <span>{{ contest.contest_category }}</span>
                </p>
                <h2>{{ contest.contest_title }}</h2>
                <p class="info">
                    <span class="dday highlight">D-{{ contest.deadline }}</span>
                    <span class="viewcount">
                        <span class="material-symbols-outlined" style="font-size: 11px;">
                        visibility
                        </span>
                        {{ contest.contest_view_count }}
                    </span>
                </p>
                <hr>
            </a>
            <div class="bottom">
                <a href="{% url 'contest_detail' contest.id %}">
                    <span class="text">소개</span>
                </a>
                <a href="/prj/">
                    <span class="text">팀원 모집</span>
                    <span class="count">0</span>
                </a>
                <a href="{% url 'contest_detail' contest.id %}">
                    <span class="text">댓글</span>
                    <span class="count">0</span>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- 페이지네이션 -->
<br><br>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>

{% else %}
<h4>아직 게시물이 없습니다.</h4>
{% endif %}

<link rel="stylesheet" type="text/css" href="{% static 'contest/css/list.css' %}">


{% endblock %}
