{% extends 'taxi_posts/base.html' %}
{% load static %}


{% block main_area %}
<br><br><br>
<div class="py-3" style="padding-top: 0rem!important; padding-bottom: 0rem!important;">
  <nav class="navbar bg-body-tertiary" style="padding-left: 10%; width: 90%; padding-bottom:0px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'contest_list' %}"><h4>공모전</h4></a>
      <form class="d-flex" role="search" method="GET" action="{% url 'searchResult' %}">
        <input class="form-control me-2" type="search" placeholder="검색어 입력..." name="q" value="{{ request.GET.q }}">
        <button class="btn btn-outline-success" type="submit" style="padding-left: 10px; padding-right: 10px; padding-bottom: 2px;">
            <span class="material-symbols-outlined" style="font-size:17px">
                search
            </span>
        </button>
    </form>
    </div>
    <hr>
  </nav>
</div>

<div id="container1" style="padding-top: 25px; flex-grow: 1; margin-top:0px" >    
    {% if contests %}
    {% for contest in contests %}
    <div class="list">
        <div class="item">
            <a class="top" href="{% url 'contest_detail' contest.id %}">
                {% if contest.contest_image %}
                    <img src="{{ contest.contest_image.url }}" alt="Contest Image">
                {% else %}
                    <img src="https://picsum.photos/seed/{{ contest.id }}/800/200" class="card-img-top" alt="random_image">
                {% endif %}
                <p class="badges">
                    <span>{{ contest.contest_category }}</span>
                </p>
                <h2>{{ contest.contest_title }}</h2>
                <p class="info">
                    <span class="dday {% if contest.deadline < 0 %}highlight{% endif %}">
                        {{ contest.dday }}
                      </span>
                    <span class="viewcount">
                        <span class="material-symbols-outlined" style="font-size: 11px;">
                        visibility
                        </span>
                        {{ contest.contest_view_count }}
                    </span>
                </p>
                <hr>
            </a>
            <div class="bottom">
                <a href="{% url 'contest_detail' contest.id %}">
                    <span class="text">소개</span>
                </a>
                <a href="{% url 'list_contest' contest.id %}">
                    <span class="text">팀원 모집</span>
                    <span class="count">{{ contest.prj_set.count }}</span>
                </a>
                <a href="{% url 'comment' contest.id %}" data-menu="comment">
                    <span class="text">댓글</span>
                    <span class="commentcount count highlight">{{ contest.comments_count }}</span>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
        <h4>"{{ request.GET.q }}" 대한 게시물이 없습니다. </h4>
    {% endif %}
</div>

    <!-- 페이지네이션 -->
<br><br>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
<style>
    section.tab > div.wrap > a {
        padding: 0 12px;
        height: 56px;
        line-height: 56px;
        box-sizing: border-box;
        border-bottom: 3px solid transparent;
        display: inline-block; /* Add this line to make sure they stay in a line */
    }
    section.tab > div.wrap {
        box-sizing: border-box;
        white-space: nowrap; /* Prevent line break */
        overflow-x: auto; /* Add horizontal scrollbar if needed */
    }
    span.text1 {
        padding-left: 5%;
    }

    /* Add media query for smaller screens */
    @media (max-width: 768px) {
        section.tab > div.wrap > a {
            white-space: normal; /* Allow line break for smaller screens */
            display: block; /* Stack items vertically for smaller screens */
            margin-bottom: 5px; /* Add space between items */
        }
    }

    span.count {
        margin-left: 4px;
        color: #a6a6a6;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0;
    }
</style>
<link rel="stylesheet" type="text/css" href="{% static 'contest/css/list.css' %}">


{% endblock %}